body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    min-width: 100vw;
}

ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding: 0 20px 0 20px;
}

li > a{
    font-family: arial, sans-serif;
    font-size: 13px;
    text-decoration: none;
    margin: 10px;
    color: #474747;
}

li > a:hover{
    text-decoration: underline;
}

li > span{
    margin-top: 5px;
    margin-right: 5px;
    color: #737373;
}

li > span:hover{
    color: black;
    cursor: pointer;
}

#store{
    margin-right: auto;
}

#sign-in{
    border: none;
    border-radius: 2px;
    color: white;
    background-color: #4386fb;
    font-weight: bold;
    font-family: arial, sans-serif;
    font-size: 13px;
    padding: 6.5px 12px 6.5px 12px;
}

#sign-in:hover{
    box-shadow: 0 0 1px 1px #d9dadb;
    cursor: pointer;
}

.btn-style{
    border: solid 1px white;
    border-radius: 5px;
    color: #5F6368;
    padding: 10px 16px 10px 16px;
}

.btn-style:hover{
    color: #222;
    border: #c6c6c6 1px solid;
}

.btn-style:focus{
    border: #4386fb solid 1px;
    background-color: #f0f0f0;
    color: #222;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
}

#google-logo{
    width: 272px;
    height: 92px;
}

#searchbar-form{
    display: flex;
    justify-content: center;
    width: 100%;
}

#searchbar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #d1d2d4;
    border-radius: 50px;
    margin: 30px;
    height: 45px;
    width: 585px;
}

#searchbar-container:hover{
    box-shadow: 0 0 8px 1px #d9dadb;
}

#search-icon{
    margin: 0px 10px 0px 15px;
    color: #9aa0a6;
    font-size: 20px;
}

#searchbar{
    border: none;
    width: calc(100% - 75px);
    font-family: arial, sans-serif;
    font-size: 16px;
}

#searchbar:focus{
    outline: none;
    background-color: transparent;
}

#search-bar-btns{
    display: flex;
}

#search-btn{
    margin-right: 15px;
    font-size: 13px;
    font-family: arial, sans-serif;
}

#lucky-btn{
    font-size: 13px;
    font-family: arial, sans-serif;
}

footer{
    margin-top: auto;
    background-color: #f2f2f2;
    width: 100%;
    border-top: #e7e7e7 solid 1px;
    
}

footer > ul{
    margin-top: 14px;
    margin-bottom: 14px;
    flex-wrap: wrap;    
}

#how-search-works{
    margin-right: auto;
}

/* Media Queries */
@media (min-width: 320px) {
    #google-logo{
        width: 200px;
        height: 70px;
    }

    #searchbar-container{
        height: 37px;
    }

    #search-icon{
        font-size: 15px;
    }

    #searchbar{
        font-size: 14px;
    }

    li > a, #sign-in, #search-btn, #lucky-btn{
        font-size: 12px;
    }
    
}

@media (min-width: 360px) {
    #store, #how-search-works{
        margin-right: auto;
    }

}

@media (min-width: 480px) {

    li > a{
        font-size: 13px;
    }

    #sign-in{
        font-size: 13px;
    }
    
}

@media (min-width: 768px) { 
    #google-logo{
        width: 272px;
        height: 92px;
    }
    
    #searchbar-container{
        height: 45px;
    }

    #search-icon{
        font-size: 20px;
    }

    #searchbar{
        font-size: 16px;
    }

    li > a, #sign-in, #search-btn, #lucky-btn{
        font-size: 13px;
    }
}

